body{

	text-align: left;
	background-color: rgb(120, 206, 233);
	border-width: 30
	width:120%;
	max-height:20% ;
	min-height:20% ;
	right: 120%;
	border-width: 20%;
   font-color:black; 
    font-family: 'Poppins', sans-serif;
}
